
.cta{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 30px;
  /* align-items: center; */
  text-align: center;
  border: 2px solid black;
  /* margin: 0 auto; */
  padding : 40px;
  justify-content: center;
}

#cta_h2{
  /* align-items: center; */
 
 color: #000000;
}

a{
  /* color:#7f7f7f ;  */
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  
}

a:hover {
  /* color:#e8e5e480; */
  color: #7f7f7f;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.navlist {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #f4f2f0;
  padding: 20px;
  border-radius: 50px;
}

.list-item {
  padding: 20px 40px;
}

