h1.headline {
}

h1.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 75px 25px 75px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  min-height: 100vh;
}

.page {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  @media screen and (min-width: 768px) {
    padding: 0 4rem;
  }
}

.header {
  position: sticky;
  margin-left: auto;
  margin-right: auto;

}

h1.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 75px 25px 75px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  height: 70vh;
}

.nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  padding: 20px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.navlist {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #f4f2f0;
  padding: 20px;
  border-radius: 50px;
}

.list-item {
  padding: 20px 40px;
}
.cta {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 30px;
  /* align-items: center; */
  text-align: center;
  border: 2px solid black;
  /* margin: 0 auto; */
  padding: 40px;
  justify-content: center;
}

#cta_h2 {
  /* align-items: center; */

  color: #000000;
}

a {
  /* color:#7f7f7f ;  */
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

a:hover {
  /* color:#e8e5e480; */
  color: #7f7f7f;


}

.batch {
  display: flex;
  justify-content: center;
  font-size: xx-small;
}

.batchnav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  list-style: none;
  background-color: white;

  border-radius: 50px;
  color: #000000;
  gap: 0.3rem;
  white-space: pre-wrap;
  width: min-content;
  height: min-content;
  padding: 0p;
  position: relative;
  place-content: center flex-start;
  align-items: center;
  flex: 0 0 auto;

  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

}

.batch1 {
  display: flex;
  justify-content: space-between;
  background-color: #f4f2f0;
  border-radius: 50px;
}
.batch2 {
  display: flex;
  justify-content: space-between;
  background-color: #f4f2f0;
  border-radius: 50px;
}
.batch3 {
  display: flex;
  justify-content: space-between;
  background-color: #f4f2f0;
  border-radius: 50px;
}
.batch4 {
  display: flex;
  justify-content: space-between;
  background-color: #f4f2f0;
  border-radius: 50px;
}
.batch1:hover {
  background-color: white;
}
.batch2:hover {
  background-color: white;
}
.batch3:hover {
  background-color: white;
}
.batch4:hover {
  background-color: white;
}
.cta {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 30px;
  /* align-items: center; */
  text-align: center;
  border: 2px solid black;
  /* margin: 0 auto; */
  padding: 40px;
  justify-content: center;
}

#cta_h2 {
  /* align-items: center; */

  color: #000000;
}

a {
  /* color:#7f7f7f ;  */
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

a:hover {
  /* color:#e8e5e480; */
  color: #7f7f7f;
}
